<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{{lab_title}}</title>
  </head>
  <body>
    {% block content %}{% endblock %}
    {% for node in nodes %}
    <div class="movable labnode" position-x="{{node.posX}}" position-y="{{node.posY}}" node-id="{{node.id}}">
      <div class="nodepicture"  style="background-image: url('/static/micons/{{ node.iconPath }}');" alt="Node"></div>
      <p class="nodetitle">{{node.title}}</p>
    </div>
    {% endfor %}
    {% for bridge in bridges %}
    <div class='nodebridge' node-a="{{bridge.nodeA.id}}" node-b="{{bridge.nodeB.id}}" bridge-id="{{bridge.id}}" eth-a="{{bridge.interfaceA.pk}}" eth-b="{{bridge.interfaceB.pk}}">
      <div class="line"></div>
    </div>
    {% endfor %}
    <!--
    <div class="movable labnode" position-x="400" position-y="200" node-id="1">
      <div class="nodepicture"  style="background-image: url({% static 'micons\router-svgrepo-com.svg' %});" alt="Node"></div>
      <p class="nodetitle">Node 1</p>
    </div>
    <div class='nodebridge' node-a="1" node-b="2" bridge-id="1" eth-a="1" eth-b="1">
      <div class="line"></div>
    </div>
    -->
  </body>
  {% include "lab/dialogs/createvm.html" %}
  <script src="{% static 'js/rest.js' %}"></script>
  <script src="{% static 'js/dialogs.js' %}"></script>
  <script src="{% static 'js/labfield.js' %}"></script>
  <script src="{% static 'js/lab.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>
</html>