<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8">
    <title>{{lab_title}}</title>
    <style>
      canvas {
        border: 1px solid #ccc;
      }
      #canvas-container {
        overflow: hidden;
        width: 800px;
        height: 600px;
      }
    </style>
  </head>
  <body>
    {% block content %}{% endblock %}
    <div id="canvas-container">
      <canvas id="grid-canvas"></canvas>
    </div>
    <div>
      <button id="zoom-in">Zoom In</button>
      <button id="zoom-out">Zoom Out</button>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>